/* Form */

input {
    border: 1px solid hsl(var(--border-color));
    height: 40px;
    padding: 0 20px;
    border-radius: 0.5rem;
}

.form-control {
    border-radius: 2rem;
    font-weight: 400;
    border-color: hsl(var(--border-color));
    height: 2.5rem !important;
    padding: 0 1rem;
    &:focus {
        border-color: hsl(var(--border-color));
        box-shadow: none;
    }
}

.form-control--sm {
    height: 2.25rem !important;
    font-size: 1rem !important;
}

.input {
    flex: 1;
}

.input input {
    font-weight: 400 !important;
}

.input input.input--lg {
    height: 48px;
    font-weight: 500 !important;
}

textarea {
    padding: 20px;
}

.changed-input {
    background-color: #f2f9fc;
    cursor: not-allowed;
    &:focus {
        background-color: #f2f9fc;
    }
}

@media (min-width: 1399.98px) {
    .form-control {
        height: 2.75rem !important;
    }
    .form-control--sm {
        height: 2.25rem !important;
    }
}

/* Buttons */

.btn-reset {
    display: inline-block;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font: inherit;
    background-color: transparent;
    border: none;
    text-align: center;
    text-decoration: none;
    appearance: none;
}

.btn-reset:hover,
.btn-reset:focus {
    outline: none;
}

.btn {
    transition: all 0.25s;
    font-size: 1rem;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 32px;
    border-radius: 2rem;
    box-sizing: border-box;
    font-weight: 500;
    border: none;
    transition:
        background-color 0.25s,
        color 0.25s;
}

.btn-primary {
    background-color: hsl(var(--primary-color));
    border: 1px solid hsl(var(--border-color)) !important;
    color: hsl(var(--background-color));
    &:hover,
    &:active,
    &:focus {
        background-color: hsla(var(--primary-color), 0.9) !important;
        transform: translateY(0);
    }
    &:disabled {
        background-color: hsla(var(--primary-color), 0.6) !important;
    }
}

.btn-primary--fix {
    &:hover,
    &:active,
    &:focus {
        background-color: hsl(var(--primary-color)) !important;
        transform: translateY(0);
    }
}

.btn-disabled-option {
    &:hover,
    &:active,
    &:focus {
        background-color: hsl(var(--primary-color)) !important;
        cursor: default;
    }
}

.btn-correct {
    background-color: hsl(var(--success-color)) !important;
    color: hsl(var(--background-color)) !important;
    cursor: default;
    &:hover,
    &:active,
    &:focus,
    &:disabled {
        background-color: hsl(var(--success-color)) !important;
        transform: translateY(0);
        opacity: 1 !important;
    }
}

.btn-incorrect {
    background-color: hsl(var(--destructive-color)) !important;
    color: hsl(var(--background-color)) !important;
    cursor: default;
    &:hover,
    &:active,
    &:focus,
    &:disabled {
        background-color: hsl(var(--destructive-color)) !important;
        transform: translateY(0);
        opacity: 1 !important;
    }
}

.btn-ghosted {
    background-color: transparent;
    border: 1px solid hsl(var(--border-color));
    box-shadow:
        0 4px 6px -1px rgb(0 0 0 / 0.1),
        0 2px 4px -2px rgb(0 0 0 / 0.1);
    color: transparent;
    cursor: default;
    &:hover,
    &:active,
    &:focus {
        background-color: transparent !important;
        border: 1px solid hsl(var(--border-color)) !important;
        color: transparent !important;
        transform: translateY(0);
    }
}

.btn-light {
    background-color: hsla(var(--accent-color), 0.9);
    color: hsl(var(--foreground-color));
    &:hover,
    &:active,
    &:focus {
        background-color: hsl(var(--accent-color));
        transform: translateY(0);
    }
}

.btn-secondary {
    background-color: hsl(var(--secondary-color));
    color: hsl(var(--background-color));
    box-shadow: none;
    &:hover,
    &:active,
    &:focus {
        background-color: hsla(var(--secondary-color), 0.9) !important;
        color: hsl(var(--background-color));
        transform: translateY(0);
        outline: none;
    }
}

.btn-border--secondary {
    border: 1px solid hsl(var(--secondary-color));
    color: hsl(var(--secondary-color));
    box-shadow: none;
    &:hover,
    &:active,
    &:focus {
        background-color: transparent !important;
        border: 1px solid hsl(var(--secondary-color)) !important;
        color: hsl(var(--secondary-color)) !important;
        transform: translateY(0);
        outline: none;
    }
}

.btn-destructive {
    background-color: hsl(var(--destructive-color)) !important;
    color: hsl(var(--background-color));
    &:hover,
    &:active,
    &:focus {
        background-color: hsla(var(--destructive-color), 0.9);
        color: hsl(var(--background-color));
        transform: translateY(0);
        outline: none;
    }
}

.btn-white--shadow {
    background-color: hsl(0, 0%, 100%);
    color: hsl(var(--foreground-color));
    box-shadow: 0px 2px 16px 0px hsla(var(--foreground-color), 0.2);
    &:hover,
    &:active,
    &:focus {
        background-color: hsl(0, 0%, 100%);
        color: hsl(var(--foreground-color)) !important;
        transform: translateY(0);
    }
}

.btn-primary-gradient {
    background: hsl(var(--secondary-color));
    background: linear-gradient(90deg, hsl(302, 61%, 67%), hsl(243, 92%, 66%));
    color: hsl(var(--background-color));
    &:hover,
    &:active,
    &:focus {
        background: linear-gradient(
            100deg,
            hsla(302, 61%, 67%, 0.9),
            hsla(243, 92%, 66%, 0.9)
        );
        color: hsl(var(--background-color)) !important;
        transform: translateY(0);
    }
}

.btn-lg,
.btn-group-lg > .btn {
    padding: 0 40px;
    font-size: 1.125rem;
    height: 48px;
}

.btn-sm,
.btn-group-sm > .btn {
    padding: 0 20px;
    font-size: 0.875rem;
    border-radius: 1.5rem;
    height: 32px;
}

.btn-xs,
.btn-group-xs > .btn {
    padding: 0 12px;
    font-size: 0.75rem;
    border-radius: 1.25rem;
    height: 28px;
}

.btn-icon {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.25rem;
    padding: 0px;
}

.btn-icon--xs {
    width: 1.75rem;
    height: 1.75rem;
    font-size: 0.75rem;
}

.btn-icon--sm {
    width: 2rem;
    height: 2rem;
    font-size: 0.875rem;
}

.btn-responsive {
    height: auto;
    line-height: 1.2;
    padding: 0.75rem 1.5rem;
    border-radius: 2rem;
    min-width: 4rem;
}

/* Navbar*/

.layout-navbar.navbar-detached {
    margin: 26px auto;
}

.layout-page {
    background-color: var(--accent-color);
}

@media (max-width: 991.98px) {
    .layout-navbar.navbar-detached {
        margin: 16px auto;
    }
}

/* Divider */

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 12px 0;
}

.divider__line {
    flex: 1;
    min-width: 80px;
    height: 2px;
    border-radius: 100%;
    background-color: hsla(var(--foreground-color), 0.5);
}

.divider__text {
    font-size: 16px;
    margin: 0 12px;
    color: hsl(var(--foreground-color));
    font-weight: 500;
}

.divider--sm .divider__line {
    min-width: 40px;
}

.divider--sm .divider__text {
    font-size: 14px;
}

.divider--xs .divider__line {
    min-width: 28px;
}

.divider--xs .divider__text {
    margin: 0 8px;
    font-size: 12px;
}

@media (min-width: 1399.98px) {
    .divider__text {
        font-size: 18px;
    }
}

/* Dimention */

.w-2 {
    width: 0.5rem;
}

.w-5 {
    width: 1.25rem;
}

.w-6 {
    width: 1.5rem;
}

.w-7 {
    width: 1.75rem;
}

.w-8 {
    width: 2rem;
}

.w-10 {
    width: 2.5rem;
}

.w-12 {
    width: 3rem;
}

.w-16 {
    width: 4rem;
}

.w-20 {
    width: 5rem;
}

.w-40 {
    width: 10rem;
}

.w-60 {
    width: 15rem;
}

.w-fit {
    width: fit-content;
}

.min-w-20 {
    min-width: 20%;
}

.min-w-30 {
    min-width: 30%;
}

.min-w-40 {
    min-width: 40%;
}

.min-w-fit {
    min-width: fit-content;
}

.max-w-9\/12 {
    max-width: calc(9 * 3rem);
}

.max-w-xl {
    max-width: 36rem;
}

.max-w-2xl {
    max-width: 42rem;
}

.max-w-50 {
    max-width: 50%;
}

.h-2 {
    height: 0.5rem;
}

.h-5 {
    height: 1.25rem;
}

.h-6 {
    height: 1.5rem;
}

.h-7 {
    height: 1.75rem;
}

.h-8 {
    height: 2rem;
}

.h-10 {
    height: 2.5rem;
}

.h-12 {
    height: 3rem;
}

.h-16 {
    height: 4rem;
}

.h-20 {
    height: 5rem;
}

.h-40 {
    height: 10rem;
}

.h-44 {
    height: 11rem;
}

.h-fit {
    height: fit-content;
}

.min-h-100 {
    min-height: 100%;
}

.min-h-screen {
    min-height: 100dvh;
}

.size-icon {
    width: 2.5rem;
    height: 2.5rem;
}

@media (min-width: 991.98px) {
    .h-lg-40 {
        height: 10rem;
    }
}

@media (min-width: 1199.98px) {
    .w-xl-8 {
        width: 2rem;
    }

    .h-xl-8 {
        height: 2rem;
    }

    .w-xl-14 {
        width: 3.5rem;
    }

    .max-w-xl-9\/14 {
        max-width: calc(9 * 3.5rem);
    }

    .h-xl-14 {
        height: 3.5rem;
    }

    .h-xl-44 {
        height: 11rem;
    }
}

@media (min-width: 1399.98px) {
    .h-2xl-11 {
        height: 2.625rem;
    }
}

/* Additions */

.dropdown-toggle.hide-dropdown-arrow::after {
    display: none;
}

.card {
    border: 1px solid hsl(var(--border-color));
    border-radius: 1rem;
}

.tooltip {
    --bs-tooltip-max-width: 512px;
    --bs-tooltip-opacity: 1;
    --bs-tooltip-border-radius: 2rem;
    --bs-tooltip-padding-x: 1.5rem;
    --bs-tooltip-padding-y: 0.875rem;
    --bs-tooltip-arrow-width: 1rem;
    --bs-tooltip-arrow-height: 0.5rem;
}

.custom-tooltip {
    --bs-tooltip-bg: #444444;
    --bs-tooltip-color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
}

.container-lg,
.container-xl {
    padding-right: 1rem;
    padding-left: 1rem;
}

.dropdown-item {
    font-weight: 500;
    font-size: 1rem;
    color: hsl(var(--foreground-color));
}

.nav-link {
    padding: 0px;
    align-items: center;
    display: flex;
    gap: 0.5rem;
    width: 100%;
    color: hsl(var(--foreground-color));
}

.-translate-x-100 {
    transform: translateX(-100%);
}

.sidebar-open {
    transform: translateX(0%);
}

.admin-active-link,
.admin-active-link:hover {
    color: hsl(var(--primary-color));
    background-color: hsl(var(--background-color));
}

.border {
    border: 1px solid hsl(var(--border-color)) !important;
}

.border-4 {
    border: 4px solid hsl(var(--border-color)) !important;
}
.border-b {
    border-bottom: 1px solid hsl(var(--border-color)) !important;
}

.border-b-2 {
    border-bottom: 2px solid hsl(var(--border-color)) !important;
}

.border-dashed {
    border: 2px dashed #728197;
}

.border-success {
    border-color: hsl(var(--success-color)) !important;
}

.border-destructive {
    border-color: hsl(var(--destructive-color)) !important;
}

.radio {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.flex-1 {
    flex: 1 1 0%;
}

.right-0 {
    right: 0;
}

.left-0 {
    left: 0;
}

@media (min-width: 1199.98px) {
    .translate-x-xl-0 {
        transform: translateX(0);
    }
}

/* Sizes */

.p-4 {
    padding: 1rem !important;
}

.p-6 {
    padding: 1.5rem;
}

.pt-4 {
    padding-top: 1rem !important;
}

.pt-8 {
    padding-top: 2rem;
}

.pt-16 {
    padding-top: 4rem;
}

.pb-4 {
    padding-bottom: 1rem !important;
}

.pb-6 {
    padding-bottom: 1.5rem;
}

.pb-8 {
    padding-bottom: 2rem !important;
}

.pb-20 {
    padding-bottom: 5rem;
}

.pb-22 {
    padding-bottom: 5.5rem;
}

.px-4 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.py-3 {
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
}

.py-4 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.py-6 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

.py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.py-24 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.p-8 {
    padding: 2rem;
}

.pt-0 {
    padding-top: 0rem !important;
}

.pb-0 {
    padding-bottom: 0rem !important;
}

.mt-1\.5 {
    margin-top: 0.375rem;
}

.mt-4 {
    margin-top: 1rem !important;
}

.mt-6 {
    margin-top: 1.5rem;
}

.mt-8 {
    margin-top: 2rem;
}

.mt-10 {
    margin-top: 2.5rem;
}

.mt-12 {
    margin-top: 3rem;
}

.ml-24 {
    margin-left: 6rem;
}

.mb-0\.5 {
    margin-bottom: 0.125rem;
}

.mb-8 {
    margin-bottom: 1.75rem;
}

.mb-10 {
    margin-bottom: 2.25rem;
}

.mb-12 {
    margin-bottom: 2.75rem;
}

.space-y-1 > * + * {
    margin-top: 0.25rem;
}

.space-y-1\.5 > * + * {
    margin-top: 0.375rem;
}

.space-y-2 > * + * {
    margin-top: 0.5rem;
}

.space-y-4 > * + * {
    margin-top: 1rem;
}

.space-y-6 > * + * {
    margin-top: 2rem;
}

.gap-1\.5 {
    gap: 0.375rem;
}

.gap-2 {
    gap: 0.5rem !important;
}

.gap-3 {
    gap: 0.75rem !important;
}

.gap-4 {
    gap: 1rem !important;
}

.gap-6 {
    gap: 1.5rem;
}

.gap-8 {
    gap: 2rem;
}

.gap-10 {
    gap: 2.5rem;
}

.gap-12 {
    gap: 3rem;
}

.gap-20 {
    gap: 5rem;
}

@media (min-width: 991.98px) {
    .gap-lg-8 {
        gap: 2rem !important;
    }
}

@media (min-width: 1199.98px) {
    .pl-xl-60 {
        padding-left: 15rem;
    }
}

/* Grid System */

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

@media (min-width: 991.98px) {
    .grid-cols-lg-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .grid-cols-lg-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (min-width: 1199.98px) {
    .grid-cols-xl-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

@media (min-width: 991.98px) and (max-width: 1399.98px) and (min-height: 800px) {
    .grid-short-cards-4 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .short-card-h-4 {
        height: 9rem;
    }
}
