@font-face {
    font-family: "Clash Grotesk";
    src:
        url("../font/ClashGrotesk-Variable.woff2") format("woff2"),
        url("../font/ClashGrotesk-Variable.woff") format("woff"),
        url("../font/ClashGrotesk-Variable.ttf") format("truetype");
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
}

:root {
    --foreground-color: 0, 0%, 20%;
    --background-color: 00, 0%, 100%;
    --background-alt-color: 216, 38%, 97%;
    --primary-color: 244, 92%, 66%;
    --secondary-color: 348, 97%, 65%;
    --destructive-color: 0, 77%, 54%;
    --accent-color: 00, 0%, 94%;
    --muted-color: 210, 5%, 35%;
    --light-color: 218, 27%, 94%;
    --border-color: 200, 23%, 92%;
    --success-color: 130, 79%, 42%;
    --warning-color: 27, 93%, 61%;
}

body {
    font-family: "Clash Grotesk", sans-serif;
    overflow-x: hidden;
    color: hsl(var(--foreground-color));
    font-size: 1rem;
    font-weight: 400;
}

/* Colros */

.color-background {
    color: hsl(var(--background-color));
    &:hover,
    &:active,
    &:focus {
        color: hsl(var(--background-color)) !important;
    }
}

.color-primary {
    color: hsl(var(--primary-color));
    &:hover,
    &:active,
    &:focus {
        color: hsl(var(--primary-color)) !important;
    }
}

.color-secondary {
    color: hsl(var(--secondary-color));
    &:hover,
    &:active,
    &:focus {
        color: hsl(var(--secondary-color)) !important;
    }
}

.color-primary-gradient {
    background: hsl(var(--secondary-color));
    background: linear-gradient(90deg, hsl(302, 61%, 67%), hsl(243, 92%, 66%));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.color-muted {
    color: hsl(var(--muted-color));
}

.color-success {
    color: hsl(var(--success-color));
    &:hover,
    &:active {
        color: hsl(var(--success-color)) !important;
    }
}

.color-warning {
    color: hsl(var(--warning-color));
}

.color-destructive {
    color: hsl(var(--destructive-color));
    &:hover,
    &:active {
        color: hsl(var(--destructive-color)) !important;
    }
}

.bg-background {
    background-color: hsl(var(--background-color));
    &:hover,
    &:active {
        background-color: hsl(var(--background-color)) !important;
    }
}

.bg-primary\/10 {
    background-color: hsla(var(--primary-color), 0.1);
    &:hover,
    &:focus,
    &:active {
        background-color: hsla(var(--primary-color), 0.1) !important;
    }
}

.bg-primary\/30 {
    background-color: hsla(var(--primary-color), 0.3);
}

.bg-warning\/30 {
    background-color: hsla(var(--warning-color), 0.3);
}

.bg-destructive\/10 {
    background-color: hsla(var(--destructive-color), 0.1);
}

.bg-success\/10 {
    background-color: hsla(var(--success-color), 0.1);
}

.bg-success\/30 {
    background-color: hsla(var(--success-color), 0.3);
}

.bg-light {
    background-color: hsl(var(--light-color)) !important;
}

.bg-accent {
    background-color: hsl(var(--accent-color));
}

.bg-background-alt {
    background-color: hsl(var(--background-alt-color));
}

.bg-background-alt\/10 {
    background-color: hsla(var(--background-alt-color), 0.1);
}

.bg-foreground {
    background-color: hsl(var(--foreground-color));
}

.bg-secondary {
    background-color: hsl(var(--secondary-color)) !important;
}

.border-primary {
    border-color: hsl(var(--primary-color)) !important;
}

/* Typography */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h4,
h6 {
    font-weight: 600;
}

h4 {
    font-size: 1.5rem;
}

h6 {
    font-size: 0.875rem;
}

.text-xs {
    font-size: 0.75rem;
}

.text-sm {
    font-size: 0.875rem;
    font-weight: 400;
}

.text-base,
label,
.form-control {
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 500;
}

.text-lg,
.nav-link {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.2;
}

.text-xl {
    font-size: 1.5rem;
    font-weight: 500;
}

.text-2xl {
    font-weight: 500;
    font-size: 1.75rem;
}

.text-3xl {
    font-weight: 600;
    font-size: 2.25rem;
}

.text-6xl {
    font-size: 3.25rem;
    font-weight: 600;
    line-height: 1.2;
}

/* Border Radius */

.rounded-md {
    border-radius: 0.5rem;
}

.rounded-lg {
    border-radius: 0.75rem;
}

.rounded-xl {
    border-radius: 1rem;
}

.rounded-2xl {
    border-radius: 2rem;
}

/* Images */

.object-cover {
    object-fit: cover;
}

/* Globals */

.opacity-60 {
    opacity: 0.6;
}

a {
    text-decoration: none;
    color: inherit;
}

.link:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}

.shadow-sm {
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05) !important;
}

.shadow-md {
    box-shadow:
        0 4px 6px -1px rgb(0 0 0 / 0.1),
        0 2px 4px -2px rgb(0 0 0 / 0.1) !important;
}
.shadow-lg {
    box-shadow:
        0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1) !important;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor {
    cursor: default;
}

.reset-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.reset-list li {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* WebKit Browsers (Chrome, Safari) */

.custom-scrollbar::-webkit-scrollbar {
    width: 1rem;
    border: 1px solid #9aa8bc;
    border-radius: 2rem;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #b6c2d3;
    border-radius: 2rem;
    border: 4px solid transparent;
    background-clip: content-box;
}
